<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <span>Input you data:</span>
  <input id="name" type="text" placeholder="Name"></input>
  <input id="last" type="text" placeholder="Lastname"></input>
  <input id="city" type="text" placeholder="City"></input>
  <button id="greet" type="button">Greet</button>
  <div id="root"></div>
  <div id="wrapper"></div>
  <div id="cityTime"></div>
  <!-- <script src="scripts/typescript/xStudent.js"></script> -->
  <script src="scripts/typescripts.js"></script>
</body>
